<div class="container">
  <div class="row">
    <div class="col">
      <div class="cocktail-list p-2">
        <% @cocktails.each do |cocktail| %>
          <div class="h5" style="padding-top: 20px;">
            <%= link_to cocktail.name.split.map(&:capitalize).join(' '), cocktail_path(cocktail)%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>