<nav class="navbar navbar-light bg-dark pt-2">
  <div id="navbar_main" class="mobile-offcanvas navbar navbar-dark bg-dark pt-4">
        <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-ellipsis-h fa-lg" style="color: whitesmoke;"></i>
        </button>
        <div class="links">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Cocktail List</a>
        </div>
  </div>
  <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-ellipsis-v fa-lg" style="color: whitesmoke;"></i>
  </button>
  <a class="navbar-brand" href="/">
    <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1598000399/le_wagon_neon_um0q4o.png" width="60" height="60" alt="Le Cocktail">
  </a>
</nav>
