<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1601673324/le_cocktail/cocktail_logo_font_cv1lzp.svg" height="20" alt="Le Cocktail">
    </a>
    <div id="navbar_main" class="mobile-offcanvas navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1601673324/le_cocktail/cocktail_logo_font_cv1lzp.svg" height="20" alt="Le Cocktail">
        </a>  
        <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-cocktail fa-md" style="color: black"></i>
        </button>  
        <a class="navbar-brand" href="/">
            <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1601675696/le_cocktail/add_cocktail_goffxs.svg" height="20" alt="Add A Cocktail">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-cocktail fa-md" style="color: black"></i>
    </button>
</nav>
