<nav class="navbar navbar-light bg-light p-3">
  <div id="navbar_main" class="mobile-offcanvas navbar navbar-dark bg-dark p-3">
        <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Cocktail List</a>
  </div>
  <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
</nav>
