<nav class="navbar navbar-light bg-light m-2">
    <a class="navbar-brand pb-2" href="/">
        <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/v1601766852/le_cocktail/cocktail_logo_white_psbnxa.svg" height="26" alt="Le Cocktail">
    </a>
    <div id="navbar_main" class="mobile-offcanvas navbar navbar-light bg-light pr-4">
        <p><%= link_to "COCKTAILS", cocktails_path, class: "h6" %></p>
        <p><%= link_to "ADD COCKTAIL", new_cocktail_path, class: "h6" %></p>
    </div>
    <button class="navbar-toggler" type="button" data-trigger="#navbar_main" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-cocktail fa-2x" style="color: white; font-size: 1.5em; border:0; text-decoration: none; outline: none"></i>
    </button>
</nav>