.navbar-toggler {
  border: none;
  border-radius: 0px;
  padding: 0.25rem 0.25rem;

}

.bg-light {
  background-color: transparent !important;
}

.social-icons {
  padding: 10px 0px;
}

.offcanvas-header {
  display:block;
}
 
.mobile-offcanvas {
  visibility: hidden;
  transform: translateY(100%);
  border-radius: 0;
  display: block;
  position: fixed;
  top: 0; left:0;
  margin-top: 64px;
  z-index: 1200;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  text-align: right;
}

.mobile-offcanvas.show {
  visibility: visible;
  transform: translateY(0);
}
